<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nike - Admin</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link href=https://fonts.googleapis.com/icon?family=Material+Icons rel="stylesheet">
    <script src="../../js/myscript.js"></script>
</head>

<body>
    <%- include('header'); %>
        <form action="/updateCartProcess/<%= cart._id %>" method="post" class="admin_page">
            <div class="manage_list">
                <table id="manage_productList">
                    <thead>
                        <tr>
                            <th>COVER</th>
                            <th>NAME</th>
                            <th>QUANTITY</th>
                            <th>DELETE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for( let i=0; i < products.length; i++ ) { %>
                            <tr>
                                <td><img src="<%= products[i].image %>" alt=""></td>
                                <td>
                                    <%= products[i].name %>
                                </td>
                                <td><%= products[i].quantity %></td>
                                <td><i class="material-icons"
                                        onclick="location.href=`/deleteCartProductProcess/<%= cart['_id'] %>/<%= products[i].productID %>`;">delete</i>
                                </td>
                            </tr>
                            <% } %>
                                <tr>
                                    <td colspan="4" style="text-align: center;"><i class="material-icons"
                                            onclick="location.href='/admin/updateCartAddProduct/<%= cart._id %>';">control_point</i>
                                    </td>
                                </tr>
                    </tbody>
                </table>
            </div>
            <div class="manage_function">
                <a href="/admin/cart" class="manage_add">
                    <i class="material-icons">arrow_back</i>
                    <div class="manage_function_text">
                        <h2>Back</h2>
                        <p>Go Back</p>
                    </div>
                </a>
            </div>
        </form>

        <%- include('../signOut.ejs') %>
</body>

</html>