<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>MTheme</title>
    <link rel="icon" type="image/x-icon" href="<%= faviconPath %>">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/personalCenterStyle.css">
    <link rel="stylesheet" type="text/css" href="../css/manageStyle.css">
    <link rel="stylesheet" type="text/css" href="../css/headerStyle.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/script.js"></script>
</head>
<body>
    <%- include('../../header') %>
    <% if ( title=="User Detail" ) { %>
        <div class="personalCenterProfileAvatarContainer">
            <div class="personalCenterProfileAvatar" style="background-image: url('../<%= user.avatar %>');"></div>
            <p>Click here to change</p>
        </div>
        <form method="post" action="/admin/userManageUpdate/<%= user.id %>" class="adminUpdateForm">
            <p>UID: <%= user.id %></p>
            <input type="text" name="username" id="username" value="<%= user.username %>" placeholder="Username">
            <input type="email" name="email" id="email" value="<%= user.email %>" placeholder="Email">
            <input type="submit" value="Save">
        </form>
    <% } else if ( title=="Product Detail" ) { %>
    
    <% } else if ( title=="Comment Detail" ) { %>
    
    <% } %>
</body>
</html>