<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>MTheme - <%= title %></title>
    <link rel="icon" type="image/x-icon" href="<%= faviconPath %>">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/loginSignupStyle.css">
    <link rel="stylesheet" href="../css/windowStyle.css">
    <script src="./js/script.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="loginContainer">
        <div class="loginTitle">
            <div class="logoLong" alt="logoLong" onclick="location.href='/'"></div>
            <h1><% if (typeof message !=='undefined') { %>
                <%= message %>
            <% } %>
            </h1>
        </div>
        <% if ( title == "Login" ) { %>
            <%- include('authentication/login') %>
        <% } else if ( title == "Sign Up" ) { %>
            <%- include('authentication/signup') %>
        <% } else if ( title == "Verification" ) { %>
            <%- include('authentication/verifyCode') %>
        <% } else if ( title == "Change Password" ) { %>
            <%- include('authentication/passwordChange') %>
        <% } %>
    </div>
    
    <% if ( title == "Sign Up" || title == "Change Password" ) { %>
        <div class="alertWindow" id="alertWindow">
            <div class="alertContainer">
                <h1>Error</h1>
                <p id="errMessage"></p>
                <div class="buttonContainer">
                    <button id="errConfirm" class="windowConfirmBtn">Ok</button>
                </div>
            </div>
        </div>
    <% } %>
    
</body>

</html>