<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <title>MTheme</title>
    <link rel="icon" type="image/x-icon" href="../../<%= faviconPath %>">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../../js/script.js"></script>
</head>

<body>
    <header class="headerDetail">
        <i class="material-icons" onclick="goBack()">arrow_back_ios</i>
        <h1>
            <%= title %>
        </h1>
    </header>
    <div class="page">
        <div class="klwpDetailPage">

            <div class="klwpDetailHeader">
                <div class="klwpDetailCover">
                    <div class="swiper-wrapper">
                        <% for( let i=0; i < klwpData.image.length; i++ ) { %>
                            <div class="swiper-slide"><img src="../<%= klwpData.image[i] %>"
                                    alt="<%= klwpData.image[i] %>"></div>
                            <% } %>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="klwpDetailData">
                    <div>
                        <h1>
                            <%= klwpData.name %>
                                <p>
                                    <%= klwpData.author %>
                                </p>
                        </h1>
                        <p>
                            <%= klwpData.desc %>
                        </p>
                    </div>
                    <strong>$<%= klwpData.price %></strong>
                </div>
            </div>

            <div class="klwpDetailMenu">
                <ul>
                    <li onclick="showKLWPDetail()" id="klwpDetailSelect" class="klwpDetailSelect">Detail</li>
                    <li onclick="showKLWPComment()" id="klwpCommentSelect">Comment</li>
                </ul>
            </div>
            <div id="klwpDetailContent" class="klwpDetailContent">Detail</div>
            <div id="klwpDetailComment" class="klwpDetailContent hidden">Comment</div>
        </div>
    </div>

    <!-- Initialize Swiper -->
    <script>
        var swiper3 = new Swiper(".klwpDetailCover", {
            grabCursor: true,
            effect: "creative",
            creativeEffect: {
                prev: {
                    translate: ["-20%", 0, -1],
                },
                next: {
                    translate: ["100%", 0, 0],
                },
            },
            pagination: {
                el: ".swiper-pagination",
            }
        });
    </script>
</body>

</html>