<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>MTheme</title>
    <link rel="icon" type="image/x-icon" href="../../<%= faviconPath %>">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="../../js/script.js"></script>
</head>

<body>
    <header class="headerDetail">
        <i class="material-icons" onclick="goBack()">arrow_back_ios</i>
        <h1><%= title %></h1>
    </header>
    <div class="page">
        <div class="klwpDetailPage">
            <div class="klwpDetailHeader">
                <div class="klwpDetailCover" style='background-image: url("../<%= klwpData.image[0] %>");'></div>
                <div class="klwpDetailData">
                    <h1><%= klwpData.name %></h1>
                    <p><%= klwpData.author %></p>
                    <p><%= klwpData.desc %></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>