<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>MTheme</title>
    <link rel="icon" type="image/x-icon" href="<%= faviconPath %>">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/productStyle.css">
    <link rel="stylesheet" type="text/css" href="./css/headerStyle.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="./js/script.js"></script>
    <script>
        // 在页面加载时调用
        window.onload = function() {
            // 替换当前历史记录条目
            history.replaceState(null, document.title, location.href);
        };

        // 监听 popstate 事件以阻止后退
        window.addEventListener('popstate', function(event) {
            history.replaceState(null, document.title, location.href);
        });
    </script>
</head>

<body>
    <%- include('index/header') %>
    <div class="page" id="page">
        <% if (typeof title !=='undefined' && title == 'Home') { %>
            <%- include('index/home') %>
        <% } else if (typeof title !=='undefined' && title == 'Product') { %>
            <%- include('index/product') %>
        <% } else if (typeof title !=='undefined' && title == 'Help') { %>
            <%- include('index/help') %>
        <% } %>
    </div>
</body>

</html>