<!--  -->
    <div class="personalCenterPage">
        <% if ( title=="Personal Center" ) { %>
            <%- include('personalCenter/personalCenter') %>
        <% } else if ( title=="Personal Information" ) { %>
            <%- include('personalCenter/feature/profile') %>
        <% } else if ( title=="Change Username" ) { %>
            <%- include('personalCenter/feature/profile/usernameChange') %>

        <!-- Admin -->
        <% } else if ( title=="User Manage" || title=="Product Manage" ||
            title=="Comment Manage" ) { %>
            <%- include('personalCenter/admin/management') %>
        <% } else if ( title=="User Detail" || title=="Product Detail" ||
                    title=="Comment Detail" ) { %>
            <%- include('personalCenter/admin/management/detailPage') %>
        <% } %>
    </div>

    <% if ( title=="Change Username" ) { %>
        <div class="alertWindow" id="alertWindow">
            <div class="alertContainer">
                <h1>Error</h1>
                <p id="errMessage"></p>
                <div class="buttonContainer">
                    <button id="errConfirm" class="windowConfirmBtn">Ok</button>
                </div>
            </div>
        </div>
        <% } %>