<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>MTheme - <%= title %>
    </title>
    <link rel="icon" type="image/x-icon" href="../../<%= faviconPath %>">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/personalCenterStyle.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="./js/script.js"></script>
</head>

<body>
    <!--  -->
    <div class="personalCenterHeader">
        <i class="material-icons" onclick="goBack()">arrow_back_ios</i>
        <h1>
            <%= title %>
        </h1>
    </div>

    <div class="personalCenterPage">
        <!--  -->
        <div class="personalCenterProfile">
            <div class="personalCenterAvatar" style="background-image: url('<%= useravatar %>');"></div>
            <div class="personalCenterInform">
                <h1><%= username %></h1>
                <p>UID : <%= userid %></p>
            </div>
        </div>

        <!-- My Order -->
        <!-- <div class="personalCenterMyOrder"></div> -->

         <!--  -->
        <div class="personalCenterFeatureList">

            <div class="personalCenterFeatureContainer" onclick="location.href='/profile'">
                <i class="material-icons">badge</i>
                <p>My Profile</p>
                <i class="material-icons personalCenterFeatureGo">navigate_next</i>
            </div>
            <hr>
            <div class="personalCenterFeatureContainer" onclick="location.href='/passwordChange'">
                <i class="material-icons">password</i>
                <p>Change Password</p>
                <i class="material-icons personalCenterFeatureGo">navigate_next</i>
            </div>
            <hr>
            <% if (role == "admin") { %>
                <%- include('personalCenter/admin/personalCenter') %>
            <% } else { %>
                <%- include('personalCenter/user/personalCenter') %>
            <% } %>
            <hr>
            <div class="personalCenterFeatureContainer" onclick="location.href='/signout'">
                <i class="material-icons">logout</i>
                <p>Log Out</p>
                <i class="material-icons personalCenterFeatureGo">navigate_next</i>
            </div>

        </div>

    </div>
</body>

</html>