<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>MTheme - <%= title %>
    </title>
    <link rel="icon" type="image/x-icon" href="<%= faviconPath %>">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/windowStyle.css">
    <script src="./js/script.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="alertWindow" style="display: flex; z-index: 0;">
        <div class="alertContainer">
            <h1>
                <%= title %>
            </h1>
            <p>
                <%= message %>
            </p>
            <button onclick="location.href='<%= linkBtn %>'">Confirm</button>
        </div>
    </div>
</body>

</html>