<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nike - Cart</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href=https://fonts.googleapis.com/icon?family=Material+Icons rel="stylesheet">
    <script src="../js/myscript.js"></script>
</head>

<body>
    <header class="header">
        <%- include('../header'); %>
    </header>

    <div class="page">
        <form action="/updateTransactionProcess/<%= transaction._id %>" method="post" class="transaction-form"
            id="transaction_form">
            <div class="transaction-detail">
                <table>
                    <thead>
                        <tr>
                            <td colspan="4">
                                <h2>PRODUCT DETAILS</h2>
                            </td>
                        </tr>
                    </thead>
                    <tr>
                        <th>COVER</th>
                        <th>PRODUCT</th>
                        <th>PRICE</th>
                        <th>QUANTITY</th>
                    </tr>
                    <% for( let i=0; i < transaction.products.length; i++ ) { %>
                        <tr>
                            <td><img src="<%= transaction.products[i].image %>" alt=""></td>
                            <td>
                                <%= transaction.products[i].name %>
                            </td>
                            <td>
                                <%= transaction.products[i].price %>
                            </td>
                            <td>
                                <%= transaction.products[i].quantity %>
                            </td>
                        </tr>
                        <% } %>
                </table>

                <table>
                    <thead>
                        <tr>
                            <td colspan="4">
                                <h2>DELIVERY DETAILS</h2>
                            </td>
                        </tr>
                    </thead>
                    <tr>
                        <td class="transaction-delivery">
                            <input type="hidden" id="status" name="status" value="completed">
                            <input type="text" id="name" name="name" placeholder="Name" required="required">
                            <input type="text" id="email" name="email" placeholder="Email" required="required">
                            <input type="text" id="address" name="address" placeholder="Address" required="required">
                        </td>
                    </tr>

                </table>


            </div>
            <div class="transaction-submit">
                <img src="../../source/image/logo.svg" alt="">
                <h1>
                    <%= transaction.totalProducts %> PRODUCTS
                </h1>
                <table class="statistics">
                    <tr>
                        <th>DELIVERY CHARGE</th>
                        <td>FREE</td>
                    </tr>
                    <tr>
                        <th>TOTAL</th>
                        <td>HK$<%= transaction.totalPrice %>
                        </td>
                    </tr>
                </table>
                <button type="submit">Order</button>
            </div>
        </form>
    </div>
    <%- include('../signOut.ejs') %>
</body>

</html>