<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>MTheme - <%= title %>
    </title>
    <link rel="icon" type="image/x-icon" href="<%= faviconPath %>">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/windowStyle.css">
    <link rel="stylesheet" href="../css/loginSignupStyle.css">
    <script src="./js/script.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="loginContainer">
        <div class="loginTitle">
            <div class="logoLong" alt="logoLong" onclick="location.href='/'"></div>
        </div>
        <form action="/signup/sendVerifyCode" method="post" class="loginForm" onsubmit="return signupValidateForm()">
            <input type="text" name="username" id="username" placeholder="Username" value="<% if (typeof username !=='undefined') { %><%- username %><% } %>" required>
            <% if (typeof error !=='undefined' && error == "Username already exists" ) { %>
            <p class="loginErrMsg">
                <%- error %>
            </p>
            <% } %>
            <span>
                - At least 3 characters long. <br>
                - Start with a letter. <br>
                - Only contain letters, numbers, underscores, and hyphens.
            </span>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password"
                required>
            <span>
                - At least 8 characters long. <br>
                - At least one digit. <br>
                - At least one special character (!@#$%^&*).
            </span>
            <input type="email" name="email" id="email" placeholder="Email" value="<% if (typeof email !=='undefined') { %><%- email %><% } %>" required>

            <% if (typeof error !=='undefined' && error == "Email already exists" ) { %>
                <p class="loginErrMsg">
                    <%- error %>
                </p>
            <% } %>
            <a href="/login">Already have an account?</a>
            <div class="loginBtn">
                <input type="submit" value="Sign Up">
            </div>
        </form>
    </div>
    <div class="alertWindow" id="alertWindow">
        <div class="alertContainer">
            <h1>Error</h1>
            <p id="errMessage"></p>
            <button id="errConfirm">Ok</button>
        </div>
    </div>
</body>

</html>